pillow
requests
beautifulsoup4
pyyaml
defusedxml
httpx
tenacity
python-dateutil
jinja2
pip
setuptools
wheel
pdfminer.six
python-docx
openpyxl
puremagic
sympy
antlr4-python3-runtime==4.11
fpdf2
html2text
loguru
pydantic
piexif
