# Application Configuration
LOG_LEVEL=debug
AUTO_SETUP=true
DEPLOYMENT_BUCKET=your-existing-s3-bucket-name

# AWS Configuration (Optional if using AWS CLI profiles)
# AWS_ACCESS_KEY_ID=xxx
# AWS_SECRET_ACCESS_KEY=xxx
AWS_PROFILE=default
# AWS_REGION=eu-west-1
